@import "tailwindcss";



/* Custom Tailwind CSS configuration */
@layer base {
  @apply text-lg tracking-tighter;
}

@layer components {
  .hover-effect {
    @apply transition-transform duration-500 ease-in-out;
  }
}

@layer utilities {
  .hover-effect:hover {
    @apply scale-125;
  }
}

/* Ensure Custom Scrollbar Styles are Applied */
@layer base {
  .syncopate-regular {
    font-family: "Syncopate", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .syncopate-bold {
    font-family: "Syncopate", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
/*   
  // <weight>: Use a value from 400 to 700
  // <uniquifier>: Use a unique and descriptive class name */
  
  .sometype-mono-normal {
    font-family: "Sometype Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  #logo-sidebar {
    overflow-y: auto !important; /* Ensure scrolling is enabled */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #ffffff41 #2222227d; /* Thumb and Track color for Firefox */
  }

  #logo-sidebar::-webkit-scrollbar {
    width: 10px; /* Adjust scrollbar width */
  }

  #logo-sidebar::-webkit-scrollbar-track {
    background: #222; /* Dark gray background */
  }

  #logo-sidebar::-webkit-scrollbar-thumb {
    background: #ff9800; /* Orange scrollbar */
    border-radius: 6px;
  }

  #logo-sidebar::-webkit-scrollbar-thumb:hover {
    background: #ff5722; /* Reddish-orange on hover */
  }
}
